<div class="mb-8">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl/9 font-bold ">Recuperar contraseña</h2>
  </div>

  <form [formGroup]="formGroup" class="w-auto" *ngIf="step === 1">
      <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-2">
              <label for="username">Email</label>
              <input pInputText formControlName="username" id="username"  />
              <small  *ngIf="false">Enter your username to reset your password.</small>
          </div>
      </div>    
      
      <div class="flex flex-col gap-2 mt-10">
          <p-button severity="info"  label="Recuperar contraseña" [style]="{'width':'100%'}" (click)="recoverPassword()" />
      </div>
  </form>

  <div *ngIf="step === 2">
    <p-message severity="info">Email enviado</p-message>
  </div>

