<div  class="max-w-7xl mx-auto px-6">
    <div class="mt-10">
        <h1 class="text-3xl font-bold">Ingresar nuevo proyecto</h1>
        <p class="text-sm text-gray-500">Llene el siguiente formulario para agregar un proyecto</p>
    </div>

    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="w-auto mt-5">
       <div>
            <div class="mt-10 mb-5">
                <h1 class="text-2xl font-bold">Sobre el proyecto</h1>
            </div>
    
            <div class="grid grid-cols-1  gap-8 mb-10">
                <div class="flex flex-col gap-2">
                    <label>Nombre del proyecto</label>
                    <input pInputText id="fullNameOrCompany"  formControlName="fullNameOrCompany" />
                    <small *ngIf="clientForm.get('fullNameOrCompany')?.invalid && clientForm.get('fullNameOrCompany')?.touched">Enter your username to reset your password.</small>
                </div>

                <div class="flex flex-col gap-2">
                    <label>Cliente</label>
                    <input pInputText id="client"  formControlName="client" />
                    <small *ngIf="clientForm.get('client')?.invalid && clientForm.get('client')?.touched">Enter your username to reset your password.</small>
                </div>

                <div class="flex flex-col gap-2">
                    <label>Inicio</label>
                    <input pInputText id="startDate"  formControlName="startDate" />
                    <small *ngIf="clientForm.get('startDate')?.invalid && clientForm.get('startDate')?.touched">Enter your username to reset your password.</small>
                </div>
                
                <div class="flex flex-col gap-2">
                    <label>Entrega</label>
                    <input pInputText id="estatus"  formControlName="estatus" />
                    <small *ngIf="clientForm.get('estatus')?.invalid && clientForm.get('estatus')?.touched">Enter your username to reset your password.</small>
                </div>

                <div class="flex flex-col gap-2">
                    <label>Estado</label>
                    <input pInputText id="endDate"  formControlName="endDate" />
                    <small *ngIf="clientForm.get('endDate')?.invalid && clientForm.get('endDate')?.touched">Enter your username to reset your password.</small>
                </div>


                
            </div>
       </div>
       

        <div class="flex flex-col gap-2 mt-10 mb-10">
        <p-button [disabled]="clientForm.invalid" severity="info"  label="Agregar nuevo proyecto" [style]="{'width':'100%'}" />
        </div>
    </form>
</div>