
   
        <div class="mb-8">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl/9 font-bold ">Actualiza tu contraseña</h2>
          </div>
        
          <form [formGroup]="formGroup" class="w-auto">
              <div class="flex flex-col gap-8">
          
                  <div class="flex flex-col gap-2">
                      <label for="username">Contraseña</label>
                      <p-password [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"  formControlName="password" [feedback]="false"  />
                      <small  *ngIf="false">Enter your username to reset your password.</small>
                  </div>

                  <div class="flex flex-col gap-2">
                    <label for="username">Repita contraseña</label>
                    <p-password [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"  formControlName="password2" [feedback]="false"  />
                    <small  *ngIf="false">Enter your username to reset your password.</small>
                </div>
  
              </div>    
              
              <div class="flex flex-col gap-2 mt-10">
                  <p-button severity="info"  label="Actualizar contraseña" [style]="{'width':'100%'}" />
              </div>
          </form>
   