<div  class="max-w-7xl mx-auto px-6">
    <div class="mt-10">
        <h1 class="text-3xl font-bold">Documentacion Tecnica</h1>
        <p class="text-sm text-gray-500"></p>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Repositorios</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addRepositorio()" severity="info"  label="Agregar Repositorio"/>
            </div>

            <div>
                <p-table [value]="repositorio" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre del repositorio</th>
                            <th>Área</th>
                            <th>Link del repositorio</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.tipo }}</td>
                            <td>{{ product.link }}</td>
                            <td>
                                <p-button (click)="addRepositorio()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <app-doc-tec-repo [visible]="repoVisible" (onClose)="closeRepo()"></app-doc-tec-repo>
    
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Despliegues</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addDespliegue()" severity="info"  label="Agregar Desliegue"/>
            </div>

            <div>
                <p-table [value]="despliegue" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre del despliegue</th>
                            <th>fechaHora</th>
                            <th>ambiente</th>
                            <th>version</th>
                            <th>url</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.fechaHora }}</td>
                            <td>{{ product.ambiente }}</td>
                            <td>{{ product.version }}</td>
                            <td>{{ product.url }}</td>

                            <td>
                                <p-button (click)="addDespliegue()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-despliegue [visible]="despliegueVisible" (onClose)="closeDespliegue()"></app-doc-tec-despliegue>
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Tecnologias</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addTecnologia()" severity="info"  label="Agregar Tecnologia"/>
            </div>

            <div>
                <p-table [value]="tecnologia" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre</th>
                            <th>categoria</th>
                            <th>versionActual</th>
                            <th>enlaceDocumentacion</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.categoria }}</td>
                            <td>{{ product.versionActual }}</td>
                            <td>{{ product.enlaceDocumentacion }}</td>

                            <td>
                                <p-button (click)="addTecnologia()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-tecnologia [visible]="tecnologiaVisible" (onClose)="closeTecnologia()"></app-doc-tec-tecnologia>
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Wireframe</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addWireframe()" severity="info"  label="Agregar Wireframe"/>
            </div>

            <div>
                <p-table [value]="wireframe" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre</th>
                            <th>descripcion</th>
                            <th>fecha Creacion</th>
                            <th>enlace</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.descripcion }}</td>
                            <td>{{ product.fechaCreacion }}</td>
                            <td>{{ product.enlace }}</td>

                            <td>
                                <p-button (click)="addWireframe()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-wireframe [visible]="wireframeVisible" (onClose)="closeWireframe()"></app-doc-tec-wireframe>
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Bases de datos</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addDatabase()" severity="info"  label="Agregar base de datos"/>
            </div>

            <div>
                <p-table [value]="database" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>motor</th>
                            <th>version</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.tipo }}</td>
                            <td>{{ product.motor }}</td>
                            <td>{{ product.version }}</td>

                            <td>
                                <p-button (click)="addDatabase()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-database [visible]="databaseVisible" (onClose)="closeDatabase()"></app-doc-tec-database>
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Frontend</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addFrontend()" severity="info"  label="Agregar frontend"/>
            </div>

            <div>
                <p-table [value]="frontend" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre</th>
                            <th>framework</th>
                            <th>Repositorio Frontend</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombreProyecto }}</td>
                            <td>{{ product.framework }}</td>
                            <td>{{ product.repositorioFrontend }}</td>
                            <td>
                                <p-button (click)="addFrontend()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-frontend [visible]="frontendVisible" (onClose)="closeFrontend()"></app-doc-tec-frontend>
        </div>
    </div>

    <div>
        <div class="mt-10 mb-5">
            <h1 class="text-2xl font-bold">Backend</h1>
        </div>
    
        <div >
            <div class="flex justify-end gap-2 mb-10 ">
                <p-button (click)="addBackend()" severity="info"  label="Agregar Backend"/>
            </div>

            <div>
                <p-table [value]="backend" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #header>
                        <tr>
                            <th>Nombre</th>
                            <th>framework</th>
                            <th>Repositorio Backend</th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.nombreProyecto }}</td>
                            <td>{{ product.framework }}</td>
                            <td>{{ product.repositorioBackend }}</td>
                            <td>
                                <p-button (click)="addBackend()"  icon="pi pi-file"  severity="info" pTooltip="ver documentos" tooltipPosition="top" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <app-doc-tec-backend [visible]="backendVisible" (onClose)="closeBackend()"></app-doc-tec-backend>
        </div>
    </div>
</div>