<div class="max-w-7xl mx-auto px-6">
    <div class="py-4">
        <h1 class="text-4xl">Proyectos</h1>
    </div>

    <div class="flex justify-end mb-4">
        <p-button (click)="navigateToCreateClient()" label="Agregar Proyecto" severity="info" />
    </div>

    <div>
        <p-table [value]="proyects" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Proyecto</th>
                    <th>Cliente</th>
                    <th>Inicio</th>
                    <th>Termino</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.client }}</td>
                    <td>{{ product.startDate }}</td>
                    <td>{{ product.endDate }}</td>
                    <td>{{ product.status }}</td>

                    <td>
                        <p-button (click)="navigateToView('1111')"  icon="pi pi-search" label="Ver" severity="info" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>